body{
    background-color:rgb(73, 107, 185);
    margin:0px;
    /*background: url(/obrazy/tlo1.png);*/
    }
header{
    
    
    min-height: 187px;
}
html {
    background-color:rgb(73, 107, 185);
    height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
aside{
    
    float:left;
    width:280px;
    background-color: rgb(47, 57, 82);
    min-height: 100%;
    
    color:white;
}
main{
    
    font-size:20px;
    padding-left:20px;
    padding-right:20px;
    float:left;
    width: 70%;
    
    background-color:rgb(73, 107, 185);
}}
a{
    color:white;
    font-size:30px;
    text-decoration: none;
}
a:hover{
    color:rgb(184, 204, 253);
}
#opis:hover{
    color:rgb(184, 186, 206);
}
