body{
    background-color:rgb(73, 107, 185);
    margin:0px;
    /*background: url(/obrazy/tlo1.png);*/
    height: 100%;
    }
header{
    
    
    min-height: 187px;
}
html {
    background-color:rgb(73, 107, 185);
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
  }
aside{
    position: fixed;
    float:left;
    width:280px;
    background-color: rgb(47, 57, 82);
    min-height: 100%;
    
    color:white;
}
main{
    
    font-size:20px;
    padding-left:300px;
    padding-right:20px;
    float:left;
    width: 75%;
    
    background-color:rgb(73, 107, 185);
}
.links{
    color:white;
    font-size:30px;
}
.info{
    font-size:28px;
    font-weight:540;
    
}
a{
    color:white;
    
    text-decoration: none;
}
a:hover{
    color:rgb(184, 204, 253);
}
#opis:hover{
    color:rgb(184, 186, 206);
}
.gazeta{
    text-align: center; 
    width: 50%; 
    font-size: 30px;
    float: left; 
}
