body{
    background-color:rgb(73, 107, 185);
    margin:0px;
    
    }
header{
    
    
    min-height: 187px;
}
aside{
    
    float:left;
    width:280px;
    background-color: rgb(47, 57, 82);
    min-height: 790px;
    height: fill;
    color:white
}
main{
    
    font-size:20px;
    padding-left:20px;
    padding-right:20px;
    float:left;
    width: 70%;
    height:fill;
}
a{
    color:white;
    font-size:30px;
    text-decoration: none;
}
ul{
    
}
